<header>
  <nav id="navbar">
    <div class="navigation">
      <div id="logo">
        <a href="/">
          <span>NEWS</span>
          <i class="fa-solid fa-compact-disc fa-spin fa-2x"></i>
          <span>POINT</span></a>
      </div>
      <ul>
        <li><a href="/">Headlines</a></li>
        <li><a href="/business">Business</a></li>
        <li><a href="/entertainment">Entertainment</a></li>
        <li><a href="/sports">Sports</a></li>
        <li><a href="/technology">Technology</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>