{{>headlinks}}
<body>
    {{>navbar}}
 <div id="err">
    <img src="img/err.png" alt="">
     <a href="/"> <button id="errbtn">Go back to the Home Page</button></a>
 </div>
 {{>footer}}
 <script src="js/burger.js"></script>
</body>