{{>headlinks}}
<body>
    {{>navbar}}
    <div class="about_contain">
           <h1>ABOUT US</h1>

        <img src="img/about.png" alt="">
        <div id="us">
            <h1>NEWS🖤POINT</h1>
            <p> <strong>NEWSPOINT</strong> is a project made using the <strong>Fetch API</strong>, consisting of <strong>Node JS, Express & Handlebars</strong>, to serve pages dynamically.

Here's the source code on <a style="text-decoration:none ;" href="https://github.com/Zack-Dx/API-Project-using-Backend">Github</a>.

We provide you with the latest, most reliable news which will keep you updated all the time. Have a great day!</p>
        </div>
    </div>
    {{>footer}}
    <script src="js/burger.js"></script>
</body>